*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    background: url(images/pexels-ksenia-chernaya-3965534.jpg) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    font-family: "Neue Montreal", sans-serif ;

}

nav{
    position: fixed;
    width: 100%;

}

.primary-nav,.bottom-nav{
    width: 35%;
    margin: 0 auto;
}

.primary-nav{
    background:#c20c15 ;
    height: 60px;
    padding: 0.8em 1.4em;
    
    
}

.primary-nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-nav-container .nav-items .nav-item{
    flex: 1;
    display: flex;
    justify-content: center;
}

.primary-nav-container .nav-items .nav-item:first-child > span{
    margin-right: auto;
}
.primary-nav-container .nav-items .nav-item:last-child > span{
    margin-left: auto;
}


.logo{
    font-family: "Voyage", sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.bottom-nav{
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(255,255,255,0.2);
    display: flex;
    z-index: 1;
}


.bottom-nav .bottom-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    font-size: 14px;
    background: #000;
}

.bottom-nav .bottom-nav-item:first-child{
    border-right: 1px solid rgba(255,255,255,0.2);
}

.bottom-nav .bottom-nav-item:last-child{
    border-right: 1px solid rgba(255,255,255,0.2);
}


.bottom-nav .bottom-nav-item-wrapper{
    padding: 0.6em;

}
.bottom-nav .bottom-nav-item-wrapper ion-icon{
    position: relative;
    top: 2px;
    left: 4px;

}

.nav-links .nav-info{
    width: max-content;
    margin: 20px auto 40px auto;
    padding: 0.2em 0.8em;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 30px;
}

.nav-links-wrapper .nav-link a sup{
    position: relative;
    top: -5px;
    font-size: 10px;
}

.nav-links-wrapper .nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 28px;

}

.nav-links-wrapper .nav-link span ion-icon{
    position: relative;
    top: 4px;
    left: 5px;
}

.nav-links .nav-socials{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto 40px auto;

}

.nav-links .nav-socials a{
    text-decoration: none;
    color: #fff;
    font-size:20px ;
}





